<!-- navbar -->
<nav class="nav_color" style="height:100px;">
  <div class="row">
    <div class="center_left">
      <a routerLink="">
        <div class="center_center mar_15" style="width:90px;">
          <img src="https://i.pinimg.com/originals/36/25/f4/3625f46b380a380dc4e7dd847d2bb091.gif" width="90px;">
        </div>
      </a>
      <a routerLink="">
        <div class="nav_title_box">
          <div class="nav_title">PARTICLE STARTER PROJECT</div>
          <div class="nav_subtitle pad_top3">Buckle up buttercup, it's go time.</div>
        </div>
      </a>
    </div>

  </div>
  <div class="center_right mar_right15">
    <div class="row hide_element center_right"><div class="text sm mar_right10">Hello, Samus Aran</div><i class="fa fa-user-astronaut fa-2x"></i></div>
    <div class="mobile_only">
      <button class="btn access pad_3 brdr brad_3 nav_color" (click)="showMenu()"><i class="fas fa-bars fa-2x"></i></button>
    </div>
  </div>
</nav>
