<!-- navbar -->
<nav class="nav_color nav_shadow" style="height:100px;">
  <div class="row">
    <div class="nav_logo_box" style="align-items: center">
      <a [routerLink]="'..'">
      <div class="menu_color center_center text sm" style="height:80px;width:150px;border:1px;margin-left:10px;margin-right:10px;">
        PARTICLE
      </div>
        </a>
      <div class="nav_title_box">
        <div class="nav_title">Particle Starter Project</div>
        <div class="nav_subtitle pad_top5" style="opacity:0.8;">Buckle up buttercup, it's go time.</div>
      </div>
    </div>

  </div>
  <div class="center_right mar_right10">
    <div class="nav_name mobile_only">
      <button class="btn pad_3 brad_3 bg_overlay" (click)="showMenu()"><i class="fas fa-bars fa-fw"></i></button>
    </div>
  </div>
</nav>
