<!-- setup for a side column -->
<ng-container *ngIf="currentTheme | async as theme">
<particle-layout-fullwidth-sidebar
  [mainContent]="mainContent"
  mainContentContainerClassList="content_color space_between brdr"
  [rightSidebar]="sidebar"
  [rightSidebarSticky]="true"
  [headerHeight]="theme.layoutVariables.headerHeight"
  [footerHeight]="theme.layoutVariables.footerHeight"
  rightSidebarContainerClassList="bgimage space_between pad_5"
>
  <ng-template #mainContent>
    <div class="row wrap">
      <div class="col size_1 content_color brdr pad_10 mar_5 text md center_center min_w280">
        <img src="https://weatherishappening.com/updates/sites/all/modules/lazyloader/loader/loader-1.gif"
             style="transform: scaleX(-1);">
        <particle-button
          type="ok"
          rounded="pill"
          hover="grow"
        ></particle-button>
      </div>
      <div class="col size_1 content_color brdr pad_10 mar_5 text md center_center min_w280">
        <img src="https://weatherishappening.com/updates/sites/all/modules/lazyloader/loader/loader-1.gif">
      </div>
    </div>
    <div class="row wrap">
      <div class="col size_1 content_color brdr pad_10 mar_5 text md center_center min_w280">
        <img src="https://weatherishappening.com/updates/sites/all/modules/lazyloader/loader/loader-1.gif"
             style="transform: scaleX(-1);">
      </div>
      <div class="col size_1 content_color brdr pad_10 mar_5 text md center_center min_w280">
        <img src="https://weatherishappening.com/updates/sites/all/modules/lazyloader/loader/loader-1.gif">
      </div>
    </div>


    <!-- MIDDLE -->
    <div class="row">
      <div class="bg_blue brdr pad_10 mar_5 text md center_center width100">
        <div class="text_center">
          Looks like you are about to <a [routerLink]="'demo'" class="text underline">EMBARK ON A MAGNIFICENT
          JOURNEY</a> into the unknown.
          <br/>
          Grab your sword, grab your shield and get ready to battle your way through dragon caves and mutant salamander
          huts.
        </div>
      </div>
    </div>
    <!-- END MIDDLE -->
    <div class="content_color brdr pad_10 mar_5 text md bgimage min_h50"></div>
  </ng-template>

  <ng-template #sidebar>
    <div>
      <div class="row_block bg_overlay brdr brad_3 pad_10">
        <div class="text_center text sm bolder">
          Add basic controls here
        </div>
        <div class="bg_overlay brdr hr mar_y10 mar_x5"></div>
        <div class="mar_5 mar_y10 pad_bot10 pad_top10">
          <particle-theming></particle-theming>
        </div>
        <div class="mar_5 mar_y10 pad_5 brad_3 brdr test text_center text xsm">COOL COLOR VARIABLES</div>
      </div>
      <div class="row_block mar_top5 bg_overlay brdr brad_3 pad_10">
        <div class="text_center text sm bolder">
          Slide away...
        </div>
        <div class="bg_overlay brdr hr mar_y10 mar_x5"></div>
        <div class="mar_5 mar_y10 pad_bot10 pad_top10">
          <particle-slider [(ngModel)]="sliderValue" unit="%"></particle-slider>
        </div>
        <div class="mar_5 mar_y10 pad_5 brad_3 brdr bg_blue text_center text xsm">INTO OBLIVION</div>
      </div>
    </div>
    <div class="row_block mar_top5 bg_overlay brdr brad_3 pad_10">
      <div class="mar_5 mar_y10 pad_5 brad_3 brdr text_center bg_yellow text xsm">BOTTOM OBJECT</div>
    </div>
  </ng-template>
</particle-layout-fullwidth-sidebar>
</ng-container>
