<!-- setup for a side column -->
<div class="row height100">

  <div class="row column space_between page_container_color brdr height100" style="margin-right:200px">
    <div class="row">
      <div class="page_container_color brdr pad_10 mar_5 text md">
        Looks like you are about to <a [routerLink]="'demo'" class="text underline">EMBARK ON A MAGNIFICENT JOURNEY</a> into the unknown. Grab your sword, grab your shield and get ready to battle your way through dragon caves and mutant salamander huts.
      </div>
      <div class="page_container_color brdr pad_10 mar_5 text md">
        Looks like you are about to <a [routerLink]="'demo'" class="text underline">EMBARK ON A MAGNIFICENT JOURNEY</a> into the unknown. Grab your sword, grab your shield and get ready to battle your way through dragon caves and mutant salamander huts.
      </div>
    </div>
    <div class="page_container_color brdr pad_10 mar_5 text md bgimage min_h50"></div>
  </div>


  <div class="bgimage height100 center_center hide_element" style="width:200px;position: absolute;right:0;">
    <div class="text md"><button class="btn bg_blue pad_5 shadow">CLOSE ME</button></div>
  </div>

</div>

