<div class="row_block width100">
  <!-- HEADER -->
  <div class="row v_center min_h40 menu_color pad_5">
    <!-- left push button -->
    <button class="access btn_pulse xsm page_container_color" aria-label="Toggle Left Push">
      <i class="fas fa-bars"></i>
    </button>
    <!-- page description -->
    <div class="col size_1 text sm mar_5 h_center">
      Hey you... Yeah, you. Trying to make something? Well, lets get you moving.
    </div>
    <!-- right push button -->
    <button class="access btn_pulse xsm page_container_color" aria-label="Toggle Right Push">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <div class="row wrap">
    <div class="row wrap">
      <div class="col size_3">

        <div class="row_block with100">
          <div class="row wrap">
            <div class="col size_1 min_w280 page_container_color box_shadow mar_10 brad_3 scroll_none">
              <div class="row_block width100">
                <div class="page_container_color_dark_1 v_center pad_10 pad_x15 text lg bold mar_top5">
                  <div class="circle_20px bg_blue mar_right5"><i class="fas fa-sliders-h"></i></div>
                  Left Content Section
                </div>
                <div class="pad_15">
                  <div class="text md mar_bot3">
                    Looks like you are about to <a [routerLink]="'demo'" class="text underline">EMBARK ON A MAGNIFICENT JOURNEY</a> into the unknown. Grab your sword, grab your shield and get ready to battle your way through dragon caves and mutant salamander huts.
                  </div>
                </div>
              </div>
            </div>
            <div class="col size_1 min_w280 page_container_color box_shadow mar_10 brad_3 scroll_none">
              <div class="row_block width100">
                <div class="page_container_color_dark_1 v_center pad_10 pad_x15 text lg bold mar_top5">
                  <div class="circle_20px bg_blue mar_right5"><i class="fas fa-sliders-h"></i></div>
                  Right Content Section
                </div>
                <div class="pad_15">
                  <div class="text md mar_bot3">
                    Looks like you are about to embark on a magnificent journey into the unknown. Grab your sword, grab your shield and get ready to battle your way through dragon caves and mutant salamander huts.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col size_1 min_w280 page_container_color box_shadow mar_10 brad_3 scroll_none">
            <div class="row_block width100">
              <div class="page_container_color_dark_1 v_center pad_10 pad_x15 text lg bold mar_top5">
                <div class="circle_20px bg_blue mar_right5"><i class="fas fa-sliders-h"></i></div>
                And a fair and mighty hello to you!
              </div>
              <div class="pad_15">
                <div class="text md mar_bot3">
                  Looks like you are about to embark on a magnificent journey into the unknown. Grab your sword, grab your shield and get ready to battle your way through dragon caves and mutant salamander huts.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    <div class="col size_1 center_center overlay hide_element mar_10">
      <div class="text md">HELP SECTION</div>
    </div>


  </div>
</div>
