<footer class="row footer_color pad_15 center_right" style="height:100px;">
  <div>MEGA MAN 69</div>
  <div style="height:75px; width:75px; background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4172987b-0ca9-4731-8e97-16a4624ec85e/d81hs98-78330bd0-a972-436e-839f-968a203f9cd7.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQxNzI5ODdiLTBjYTktNDczMS04ZTk3LTE2YTQ2MjRlYzg1ZVwvZDgxaHM5OC03ODMzMGJkMC1hOTcyLTQzNmUtODM5Zi05NjhhMjAzZjljZDcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.SsDtrwLPOALqfITLkaxK8ELI0QKgCv1kMN-HowLr7qY'); background-size: cover;background-position: center;"></div>
</footer>
