<particle-push-container
  mainContentId="site-content"
  side="left"
  [width]="250"
  topOffset="100px"
  [closeOnResize]="true"
  [showSidePanel]="true"
  [hideCloseButton]="true"
  [showTabOnClose]="true"
  #pushContainerLeft>
  <div class="menu_color min_h40 pad_10 pad_x15 text md bold v_center">
    <div>Menu Example</div>
  </div>
  <div class="pad_10">
    <div class="row bottom_left mar_5" style="height:32px;">
      <div class="text md bolder">
        Here are your options
      </div>
    </div>
    <div class="bg_overlay brdr hr mar_y15 mar_x5"></div>
    <!-- informational text -->
    <div class="mar_5 mar_y10 pad_bot5">
      <div class="text sm paragraph">
        <particle-accordion
          [multiple]="true"
          headerClass="bg_overlay_rev brdr pad_5 brad_3"
          height=""
          textClass="md"
          [showIcon]="false">
          <!-- Item 1 -->
          <particle-accordion-item [open]="true">
            <ng-template particleAccordionHeader>
              <div class="text">
                <i class="fas fa-dog"></i> General Styles
              </div>
            </ng-template>
            <ng-template particleAccordionContent>
              <div class="pad_15 text sm">
                SUBMENU OPTION 1<br/>
                SUBMENU OPTION 2<br/>
                SUBMENU OPTION 3<br/>
                SUBMENU OPTION 4<br/>
              </div>
            </ng-template>
          </particle-accordion-item>
          <!-- Item 2 -->
          <particle-accordion-item [open]="true">
            <ng-template particleAccordionHeader>
              <div class="text">
                <i class="fas fa-pencil"></i> Components
              </div>
            </ng-template>
            <ng-template particleAccordionContent>
              <div class="pad_15 text sm">
                SUBMENU OPTION 1<br/>
                SUBMENU OPTION 2<br/>
                SUBMENU OPTION 3<br/>
                SUBMENU OPTION 4<br/>
              </div>
            </ng-template>
          </particle-accordion-item>
          <!-- Item 3 -->
          <particle-accordion-item [open]="true">
            <ng-template particleAccordionHeader>
              <div class="text">
                <i class="fas fa-car"></i> Best Practices
              </div>
            </ng-template>
            <ng-template particleAccordionContent>
              <div class="pad_15 text sm">
                SUBMENU OPTION 1<br/>
                SUBMENU OPTION 2<br/>
                SUBMENU OPTION 3<br/>
                SUBMENU OPTION 4<br/>
              </div>
            </ng-template>
          </particle-accordion-item>
          <!-- Item 4 -->
        </particle-accordion>
      </div>
    </div>
  </div>
</particle-push-container>
