<particle-push-container
  mainContentId="site-content"
  side="left"
  [width]="250"
  topOffset="100px"
  [closeOnResize]="true"
  [showSidePanel]="true"
  [hideCloseButton]="true"
  [showTabOnClose]="true"
  #pushContainerLeft>

  <div class="row_block">
    <div class="row bottom_left pad_10 min_h45 border_bottom brdr">
      <div class="text md bolder">
        Here are your options
      </div>
    </div>
    <!-- informational text -->
    <div class="width100 mar_y10 pad_bot5">
      <div class="">
        <particle-accordion
          [multiple]="true"
          headerClass="bg_overlay_rev brdr pad_5 brad_3"
          textClass="md"
          [showIcon]="false">
          <!-- Item 1 -->
          <particle-accordion-item [open]="true" headerClass="bg_green brdr">
            <ng-template particleAccordionHeader>
              <div class="text">
                <i class="fas fa-dog"></i> General Styles
              </div>
            </ng-template>
            <ng-template particleAccordionContent>
              <div class="pad_15 text sm">
                SUBMENU OPTION 1<br/>
                SUBMENU OPTION 2<br/>
                SUBMENU OPTION 3<br/>
                SUBMENU OPTION 4<br/>
              </div>
            </ng-template>
          </particle-accordion-item>
          <!-- Item 2 -->
          <particle-accordion-item [open]="true" headerClass="bg_red brdr">
            <ng-template particleAccordionHeader>
              <div class="text">
                <i class="fas fa-pencil"></i> Components
              </div>
            </ng-template>
            <ng-template particleAccordionContent>
              <div class="pad_15 text sm">
                SUBMENU OPTION 1<br/>
                SUBMENU OPTION 2<br/>
                SUBMENU OPTION 3<br/>
                SUBMENU OPTION 4<br/>
              </div>
            </ng-template>
          </particle-accordion-item>
          <!-- Item 3 -->
          <particle-accordion-item [open]="true" headerClass="bg_blue brdr">
            <ng-template particleAccordionHeader>
              <div class="text">
                <i class="fas fa-car"></i> Best Practices
              </div>
            </ng-template>
            <ng-template particleAccordionContent>
              <div class="pad_15 text sm">
                SUBMENU OPTION 1<br/>
                SUBMENU OPTION 2<br/>
                SUBMENU OPTION 3<br/>
                SUBMENU OPTION 4<br/>
              </div>
            </ng-template>
          </particle-accordion-item>
          <!-- Item 4 -->
        </particle-accordion>
      </div>
    </div>
  </div>
</particle-push-container>
