<particle-push-container
  mainContentId="site-content"
  side="left"
  [width]="225"
  topOffset="100px"
  [closeOnResize]="true"
  [showSidePanel]="true"
  [hideCloseButton]="true"
  [showTabOnClose]="true"
  #pushContainerLeft>

  <div class="row_block">
    <div class="bgimage min_h100">

    </div>
    <!-- informational text -->
    <div class="width100 pad_bot5">
      <div class="">
        <particle-accordion
          [multiple]="true"
          headerClass="pad_5 brad_3"
          textClass="md"
          [showIcon]="true"
          height="40px">
          <!-- Item 1 -->
          <particle-accordion-item [open]="true" headerClass="bg_purple border_none">
            <ng-template particleAccordionHeader>
              <div class="space_between width100">
                <div class="text bolder">
                  <i class="fas fa-dog"></i> General Styles
                </div>
                <div>
                  <i class="fas fa-fw fa-caret-down"></i>
                </div>
              </div>
            </ng-template>
            <ng-template particleAccordionContent>
              <div class="bg_purple_light_1 pad_x20 pad_y10">
                <button class="btn access hov_slide_right clear" (click)="navigate('demo', 'accordion')">Accordion</button><br/>
                <button class="btn access hov_slide_right clear">Background Carousel</button><br/>
                <button class="btn access hov_slide_right clear">Color Picker</button><br/>
                <button class="btn access hov_slide_right clear">Date Picker</button><br/>
                <button class="btn access hov_slide_right clear">Dialog</button><br/>
                <button class="btn access hov_slide_right clear">Dropdown</button><br/>
              </div>
            </ng-template>
          </particle-accordion-item>
          <!-- Item 2 -->
          <particle-accordion-item [open]="true" headerClass="bg_red border_none">
            <ng-template particleAccordionHeader>
                <div class="space_between width100">
                <div class="text bolder">
                  <i class="fas fa-pencil"></i> Components
                </div>
                <div>
                  <i class="fas fa-fw fa-caret-down"></i>
                </div>
              </div>
            </ng-template>
            <ng-template particleAccordionContent>
              <div class="bg_red_light_1 pad_x20 pad_y10">
                <button class="btn access hov_slide_right clear" (click)="navigate('demo', 'endpoint-state')">Endpoint State</button><br/>
                <button class="btn access hov_slide_right clear">Icons/Picker</button><br/>
                <button class="btn access hov_slide_right clear">Idle Timeout</button><br/>
                <button class="btn access hov_slide_right clear">KeyFilter</button><br/>
                <button class="btn access hov_slide_right clear">Multi-Select</button><br/>
                <button class="btn access hov_slide_right clear">Notification</button><br/>
                <button class="btn access hov_slide_right clear">Ordinal Pipes</button><br/>
                <button class="btn access hov_slide_right clear">Paginator</button><br/>
                <button class="btn access hov_slide_right clear">Popover</button><br/>
              </div>
            </ng-template>
          </particle-accordion-item>
          <!-- Item 3 -->
          <particle-accordion-item [open]="true" headerClass="bg_blue border_none">
            <ng-template particleAccordionHeader>
              <div class="space_between width100">
                <div class="text bolder">
                  <i class="fas fa-car"></i> Best Practices
                </div>
                <div>
                  <i class="fas fa-fw fa-caret-down"></i>
                </div>
              </div>
            </ng-template>
            <ng-template particleAccordionContent>
              <div class="bg_blue_light_1 pad_x20 pad_y10">
                <button class="btn access hov_slide_right clear">Profile Pic</button><br/>
                <button class="btn access hov_slide_right clear">Push Container</button><br/>
                <button class="btn access hov_slide_right clear">Rich Text</button><br/>
                <button class="btn access hov_slide_right clear">Scroll to Top</button><br/>
                <button class="btn access hov_slide_right clear">Slideover</button><br/>
                <button class="btn access hov_slide_right clear">Slider</button><br/>
                <button class="btn access hov_slide_right clear">Theming</button><br/>
                <button class="btn access hov_slide_right clear">Tooltip</button><br/>
                <button class="btn access hov_slide_right clear">Week Picker</button>
              </div>
            </ng-template>
          </particle-accordion-item>
          <!-- Item 4 -->
        </particle-accordion>
      </div>
    </div>
  </div>
</particle-push-container>
