
<!-- SLIDER -->
<app-particle-demo [componentDetails]="allComponents.slider">
  <particle-slider [(ngModel)]="sliderValue" unit="%"></particle-slider>
</app-particle-demo>

<!-- COLOR PICKER -->
<app-particle-demo [componentDetails]="allComponents.colorPicker">
  <particle-color-picker [(ngModel)]="colorPickerValue"
                         (ngModelChange)="console.log(colorPickerValue); console.log('Color picker model change')"></particle-color-picker>
  <div class="pad_10"></div>
  <div class="form_label mar_bot3">Styled Color Picker</div>
  <particle-color-picker
    [classList]="'form_input'"
    [(ngModel)]="colorPickerValue"
    (ngModelChange)="console.log(colorPickerValue); console.log('Color picker model change')">
  </particle-color-picker>
  <div class="pad_10"></div>
  <div class="form_label mar_bot3">Disabled Color Picker</div>
  <particle-color-picker [disabled]="true"></particle-color-picker>
</app-particle-demo>

<!-- KEYFILTER -->
<app-particle-demo [componentDetails]="allComponents.keyFilter">
  <!-- alpha text -->
  <div class="form_label mar_bot5">Alpha Text Only</div>
  <input particleKeyfilter="alpha" class="access input md"
         aria-label="Alpha Text Only" placeholder="Abc..."/>
  <div class="pad_10"></div>
  <!-- numeric text -->
  <div class="form_label mar_bot5">Numeric Text Only</div>
  <input particleKeyfilter="numeric" class="access input md"
         aria-label="Numeric Text Only" placeholder="123..."/>
  <div class="pad_10"></div>
  <!-- alphanumeric text with spaces -->
  <div class="form_label mar_bot5">Alphanumeric Text Only (with spaces)</div>
  <input particleKeyfilter="alphanumeric" [allowSpaces]="true" class="access input md"
         aria-label="Alphanumeric Text" placeholder="Abc 123..."/>
</app-particle-demo>

<!-- DATE PICKER -->
<app-particle-demo [componentDetails]="allComponents.datePicker">
  <div class="form_label mar_bot3">Basic Date Picker</div>
  <particle-date-picker [(ngModel)]="datePickerValue"
                        (ngModelChange)="console.log(datePickerValue); console.log('Date picker model change')"
                        (dateSelected)="console.log($event); console.log('Date selected')"
                        (input)="console.log('Date picker input')"
                        [disabled]="false"
                        [closeOnSelect]="true"
                        [inputClassList]="'form_input page_container_color'"
                        [calendarButtonClassList]="'bg_overlay brdr border_left brad_0'">
  </particle-date-picker>
  <div class="pad_10"></div>
  <div class="form_label mar_bot3">Week Picker</div>
  <particle-week-picker
    [(ngModel)]="weekPickerValue"
    (ngModelChange)="console.log(weekPickerValue); console.log('Week picker model change')"
    (weekSelected)="console.log($event); console.log('Week selected');"
    [closeOnSelect]="true"
    [disabled]="false">
  </particle-week-picker>
  <div class="pad_10"></div>
  <div class="form_label mar_bot3">Disabled date picker</div>
  <particle-date-picker
    [disabled]="true">
  </particle-date-picker>
</app-particle-demo>

<!-- RICH TEXT EDITOR -->
<app-particle-demo [componentDetails]="allComponents.richText">
  <div class="form_label mar_bot3">Enter some formatted text below</div>
  <particle-rich-text
    [placeholder]="'Some placeholder text...'"
    [(ngModel)]="textEditorValue"
    (ngModelChange)="console.log(textEditorValue); console.log('text editor model change')"
    (textChanged)="handleEditorTextChange($event)">
  </particle-rich-text>
  <div class="form_label mar_bot3 pad_top5">Render the text from the editor</div>
  <div class="form_label mar_bot3">
    <particle-render-rich-text [html]="textEditorValue"></particle-render-rich-text>
  </div>
</app-particle-demo>

<!-- DROPDOWNS -->
<app-particle-demo [componentDetails]="allComponents.dropdowns">
  <particle-dropdown
    [(ngModel)]="dropdownValue"
    (ngModelChange)="console.log(dropdownValue); console.log('dropdown model changed')"
    (change)="console.log(dropdownValue); console.log('dropdown value changed')"
    [placeholder]="'Select an option...'"
    [options]="[
                           { value: 'red', label: 'Option A' },
                           { value: 'green', label: 'Disabled Option', disabled: true },
                           { value: 'blue', label: 'Option C' },
                           {
                             groupLabel: 'Option Group',
                             options: [
                               { value: 'darkPurple', label: 'Group Option 1' },
                               { value: 'purple', label: 'Group Option $' },
                               { value: 'lightPurple', label: 'Group Option X' }
                             ]
                           }
                         ]"
    [disabled]="false">
  </particle-dropdown>
  <div class="pad_10"></div>
  <div class="form_label mar_bot3">Dropdown with Templating</div>
  <particle-dropdown
    [placeholder]="'Select a color...'"
    [options]="[
                           { value: 'red', label: 'Red', dataContext: { 'colorClass': 'bg_red' } },
                           { value: 'green', label: 'Green', disabled: true, dataContext: { 'colorClass': 'bg_green' } },
                           { value: 'blue', label: 'Blue', dataContext: { 'colorClass': 'bg_blue' } },
                           {
                             groupLabel: 'Purple Values',
                             options: [
                               { value: 'darkPurple', label: 'Dark Purple', dataContext: { 'colorClass': 'bg_purple_dark_4' } },
                               { value: 'purple', label: 'Purple', dataContext: { 'colorClass': 'bg_purple' } },
                               { value: 'lightPurple', label: 'Light Purple', dataContext: { 'colorClass': 'bg_purple_light_4' } }
                             ]
                           }
                         ]"
    [classList]="'form_input page_container_color'"
    [disabled]="false">
    <ng-template let-colorClass="colorClass" let-label>
      <div class="circle_14px mar_right5" [ngClass]="colorClass"></div>
      {{label}}
    </ng-template>
  </particle-dropdown>
  <div class="pad_10"></div>
  <div class="form_label mar_bot3">Disabled Dropdown</div>
  <particle-dropdown
    [placeholder]="'Select nothing...'"
    [disabled]="true">
  </particle-dropdown>
</app-particle-demo>

<!-- MULTI SELECT -->
<app-particle-demo [componentDetails]="allComponents.multiSelect">
  <div class="form_label mar_bot3">Basic MultiSelect</div>
  <particle-multi-select
    [options]="[
                         { value: 'a', label: 'Option A' },
                         { value: 'b', label: 'Disabled Option', disabled: true },
                         { value: 'c', label: 'Option C' },
                         {
                           groupLabel: 'Option Group',
                           options: [
                             { value: '1', label: 'Group Option 1' },
                             { value: '2', label: 'Group Option $' },
                             { value: '3', label: 'Group Option X' }
                           ]
                         }
                       ]"
    [classList]="'form_input page_container_color'" [disabled]="false">
  </particle-multi-select>
  <div class="pad_10"></div>
  <div class="form_label mar_bot3">Select one or more options from the dropdown below</div>
  <particle-multi-select
    [(ngModel)]="multiSelectValue"
    (ngModelChange)="console.log(multiSelectValue); console.log('Multi-select model change')"
    (change)="console.log(multiSelectValue); console.log('Multi-select value change')"
    [placeholder]="'Select your favorite foods...'"
    [options]="[
                         { value: 'chicken', label: 'Chicken', dataContext: { 'iconClass': 'fas fa-drumstick-bite' } },
                         { value: 'apples', label: 'Apples', disabled: true, dataContext: { 'iconClass': 'fas fa-apple-alt' } },
                         { value: 'cheese', label: 'Cheese', dataContext: { 'iconClass': 'fas fa-cheese' } },
                         {
                           groupLabel: 'Forbidden Foods',
                           options: [
                             { value: 'lemon', label: 'Lemon', dataContext: { 'iconClass': 'fas fa-lemon' } },
                             { value: 'stroopwafel', label: 'Stroopwafel', dataContext: { 'iconClass': 'fas fa-stroopwafel' } },
                             { value: 'fish', label: 'Fish', dataContext: { 'iconClass': 'fas fa-fish' } }
                           ]
                         }
                       ]"
    [disabled]="false" [classList]="'input md bg_overlay brdr page_container_color'">
    <ng-template let-iconClass="iconClass" let-label>
      <i [ngClass]="iconClass + ' fa-fw mar_right5'"></i> {{label}}
    </ng-template>
  </particle-multi-select>
  <div class="pad_10"></div>
  <div class="form_label mar_bot3">Disabled MultiSelect</div>
  <particle-multi-select
    [disabled]="true">
  </particle-multi-select>
</app-particle-demo>

<!-- DIALOG -->
<app-particle-demo [componentDetails]="allComponents.dialog">
  <div class="form_label mar_bot5">Select the button below to preview the dialog</div>
  <button class="access btn sm brdr bg_purple_alt" (click)="obj2 = {}">
    Preview Dialog
  </button>
</app-particle-demo>

<!-- ICON SELECT -->
<app-particle-demo [componentDetails]="allComponents.iconSelect">
  <particle-icon-select [(ngModel)]="icon"
                        (opened)="iconSelectOpened()"
                        (closed)="iconSelectClosed()"
                        (selected)="iconSelected($event); console.log('icon selected')"
                        (ngModelChange)="console.log(icon); console.log('icon select model change')">
  </particle-icon-select>
</app-particle-demo>

<!-- POPOVER -->
<app-particle-demo [componentDetails]="allComponents.popOver">
  <button class="access btn sm bg_overlay brdr bg_grey_alt" (click)="popover.toggle($event)">
    Preview Popover
  </button>
  <particle-popover width="500" #popover>
    <div class="pad_10">
      <div class="mar_bot10">This is some popover content</div>
      <button (click)="popover.toggle($event)" class="access btn bg_overlay brdr sm mar_5">
        <i class="fas fa-times mar_right5"></i>Close Popover
      </button>
    </div>
  </particle-popover>
</app-particle-demo>

<!-- SLIDEOVER -->
<app-particle-demo [componentDetails]="allComponents.slideOver">
  <div class="pad_15">
    <div class="form_label mar_bot5">Test each slide over type below</div>
    <button class="access btn sm bg_overlay brdr bg_grey_alt mar_5" (click)="slideoverLeft.toggle()">
      Left
    </button>
    <button class="access btn sm bg_overlay brdr bg_grey_alt mar_5" (click)="slideoverRight.toggle()">
      Right
    </button>
    <button class="access btn sm bg_overlay brdr bg_grey_alt mar_5" (click)="slideoverTop.toggle()">
      Top
    </button>
    <button class="access btn sm bg_overlay brdr bg_grey_alt mar_5" (click)="slideoverBottom.toggle()">
      Bottom
    </button>

    <particle-slideover position="left" bgClass="bg_green" [modal]="false" #slideoverLeft
                        (opened)="slideoverRight.close();slideoverBottom.close();slideoverTop.close()">
      Left Side
    </particle-slideover>

    <particle-slideover position="right" bgClass="bg_blue" #slideoverRight
                        (opened)="slideoverLeft.close();slideoverBottom.close();slideoverTop.close()">
      Right Side
    </particle-slideover>

    <particle-slideover position="top" bgClass="bg_red" [modal]="false" #slideoverTop
                        (opened)="slideoverRight.close();slideoverBottom.close();slideoverLeft.close()">
      Up Top
    </particle-slideover>

    <particle-slideover position="bottom" bgClass="bg_orange" [modal]="false" #slideoverBottom
                        (opened)="slideoverRight.close();slideoverLeft.close();slideoverTop.close()">
      Down Low
    </particle-slideover>
  </div>
</app-particle-demo>

<!-- NOTIFICATIONS -->
<app-particle-demo [componentDetails]="allComponents.notifications">
  <div class="form_label mar_bot5">Select a button below to preview a notification type</div>
  <div class="row wrap v_center">
    <button (click)="addNotification('success')"
            class="access btn sm brdr bg_green mar_5">
      Show Success
    </button>
    <button (click)="addNotification('warn')"
            class="access btn sm brdr bg_orange mar_5">
      Show Warning
    </button>
    <button (click)="addNotification('error')"
            class="access btn sm brdr bg_red mar_5">
      Show Error
    </button>
    <button (click)="addNotification('info')"
            class="access btn sm brdr bg_purple mar_5">
      Show Info
    </button>
  </div>
</app-particle-demo>

<!-- TOOLTIPS -->
<app-particle-demo [componentDetails]="allComponents.toolTips">
  <div class="pad_15">
    <div class="form_label mar_bot5">Hover a box below to see a tooltip</div>
    <div class="row wrap v_center" style="margin:0 -5px;">
      <div class="bg_overlay_rev brdr text sm pad_3 pad_x10 brad_3 mar_5" style="user-select:none;"
           particleTooltip="I'm left out" tooltipPosition="left">
        <i class="fas fa-arrow-left mar_right5"></i>Left Tooltip
      </div>
      <div class="bg_overlay_rev brdr text sm pad_3 pad_x10 brad_3 mar_5" style="user-select:none;"
           particleTooltip="I'm always right" tooltipPosition="right">
        <i class="fas fa-arrow-right mar_right5"></i>Right Tooltip
      </div>
      <div class="bg_overlay_rev brdr text sm pad_3 pad_x10 brad_3 mar_5" style="user-select:none;"
           particleTooltip="I'm above it" tooltipPosition="top">
        <i class="fas fa-arrow-up mar_right5"></i>Top Tooltip
      </div>
      <div class="bg_overlay_rev brdr text sm pad_3 pad_x10 brad_3 mar_5" style="user-select:none;"
           particleTooltip="I'm feeling down" tooltipPosition="bottom">
        <i class="fas fa-arrow-down mar_right5"></i>Bottom Tooltip
      </div>
    </div>
  </div>
</app-particle-demo>

<!-- THEMING -->
<app-particle-demo [componentDetails]="allComponents.theming">
  <div class="pad_15">
    <particle-theming></particle-theming>
  </div>
</app-particle-demo>

<!-- ACCORDION -->
<app-particle-demo [componentDetails]="allComponents.accordion" id="accordion">
  <p class="pad_15 text lg">Default</p>
  <div class="pad_15">
    <particle-accordion>
      <!-- Item 1 -->
      <particle-accordion-item header="Header I">
        <ng-template particleAccordionContent>
          <div class="pad_15 text md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </ng-template>
      </particle-accordion-item>
      <!-- Item 2 -->
      <particle-accordion-item header="Header II">
        <ng-template particleAccordionContent>
          <div class="pad_15 text md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </ng-template>
      </particle-accordion-item>
      <!-- Item 3 -->
      <particle-accordion-item header="Header III">
        <ng-template particleAccordionContent>
          <div class="pad_15 text md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </ng-template>
      </particle-accordion-item>
      <!-- Item 4 -->
      <particle-accordion-item header="Header IV (Disabled)" [disabled]="true">
        <ng-template particleAccordionContent>
          <div class="pad_15 text md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </ng-template>
      </particle-accordion-item>
    </particle-accordion>
  </div>

  <!-- Multiple -->
  <p class="pad_15 text lg">Multiple</p>
  <div class="pad_15">
    <particle-accordion
      [multiple]="true"
      headerClass="border_none"
      height=""
      textClass="sm"
      iconCollapsed="far fa-plus-square"
      iconExpanded="far fa-minus-square">
      <!-- Item 1 -->
      <particle-accordion-item header="Header I">
        <ng-template particleAccordionContent>
          <div class="pad_15 text md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </ng-template>
      </particle-accordion-item>
      <!-- Item 2 -->
      <particle-accordion-item header="Header II">
        <ng-template particleAccordionContent>
          <div class="pad_15 text md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </ng-template>
      </particle-accordion-item>
      <!-- Item 3 -->
      <particle-accordion-item header="Header III">
        <ng-template particleAccordionContent>
          <div class="pad_15 text md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </ng-template>
      </particle-accordion-item>
      <!-- Item 4 -->
      <particle-accordion-item header="Header IV (Disabled)" [disabled]="true">
        <ng-template particleAccordionContent>
          <div class="pad_15 text md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </ng-template>
      </particle-accordion-item>
    </particle-accordion>
  </div>
</app-particle-demo>

<!-- PAGINATOR -->
<app-particle-demo [componentDetails]="allComponents.paginator">
  <div class="col size_3 center_center mar_10">
    <particle-paginator
      version="1"
      [totalLength]="100"
      [pageSizeOptions]="[10,25,50]"
      [pageSize]="10"
    ></particle-paginator>
  </div>
  <div class="col size_3 center_center mar_10">
    <particle-paginator
      version="2"
      [totalLength]="200"
      [pageSizeOptions]="[10,25,50]"
      [pageSize]="25"
    ></particle-paginator>
  </div>
  <div class="col size_3 center_center mar_10">
    <particle-paginator
      version="3"
      [totalLength]="30000"
      [pageSizeOptions]="[10,25,50]"
      [pageSize]="50"
    ></particle-paginator>
  </div>
  <div class="col size_3 center_center mar_10">
    <particle-paginator
      version="4"
      [totalLength]="30000"
      [pageSizeOptions]="[10,25,50]"
      [pageSize]="50"
    ></particle-paginator>
  </div>
</app-particle-demo>

<!-- PROFILE PICTURE -->
<app-particle-demo [componentDetails]="allComponents.profilePicture">
  <div class="pad_15">
    <div class="form_label mar_bot5">Check this guy out</div>
    <particle-profile-pic
      toolTip="Philip J Fry"
      imageUrl="http://www.pixlb.it/media/avatars/1.png">
    </particle-profile-pic>
  </div>
</app-particle-demo>

<!-- PIPES -->
<app-particle-demo [componentDetails]="allComponents.pipes">
  <div class="pad_15">
    <div class="form_label mar_bot5">Ordinal Number</div>
    <div class="text md">1 -> {{1 | ordinalNumber}}, 2 -> {{2 | ordinalNumber}}, 3 -> {{3 | ordinalNumber}}</div>
  </div>
</app-particle-demo>

<!-- ENDPOINT STATE -->
<app-particle-demo [componentDetails]="allComponents.endPoint" id="endpoint-state">
  <div class="row center_center">
    <particle-endpoint-state
      [loadingOverlay]="false"
      [loading]="true"
      [loadingOverlayText]="'Please wait while we get things ready for you'"
      [loadingOverlaySubtext]="'This may take a few minutes...'"
      [loadingIcon]="'double_helix'">
    </particle-endpoint-state>
  </div>
</app-particle-demo>

<!-- ICONS -->
<app-particle-demo [componentDetails]="allComponents.icons">
  <div class="row wrap">
    <div *ngFor="let icon of icons" class="col size_1 min_w100 column center_center mar_5">
      <div class="col size_1 center_center">
        <i class="wis {{icon.class}} fa fa-fw"></i>
      </div>
      <div class="text sm center mar_top5">{{icon.class}}</div>
    </div>
  </div>
</app-particle-demo>


<!-- DIALOG DEMONSTRATION -->
<particle-dialog title="Parent Dialog" [object]="obj2" (closed)="obj2 = null" [allowClose]="true"
                 width="300px" height="200px">
  <div class="pad_10">
    <div class="form_label mar_bot3">Basic Dropdown</div>
    <particle-dropdown
      [placeholder]="'Select an option...'"
      [options]="[
                             { value: 'red', label: 'Option A' },
                             { value: 'green', label: 'Disabled Option', disabled: true },
                             { value: 'blue', label: 'Option C' },
                             {
                               groupLabel: 'Option Group',
                               options: [
                                 { value: 'darkPurple', label: 'Group Option 1' },
                                 { value: 'purple', label: 'Group Option $' },
                                 { value: 'lightPurple', label: 'Group Option X' }
                               ]
                             }
                           ]"
      [disabled]="false">
    </particle-dropdown>
    <button class="access btn md bg_overlay brdr bg_blue_alt mar_10" (click)="obj3 = {}">Open Child</button>
  </div>
  <!-- CHILD DIALOG -->
  <particle-dialog title="Child of Parent Dialog" [object]="obj3" (closed)="obj3 = null"
                   [allowClose]="false"
                   width="350px" height="250px">
    <div class="pad_10">
      <div class="form_label mar_bot3">Basic Date Picker</div>
      <particle-date-picker
        [disabled]="false"
        [inputClassList]="'form_input page_container_color'"
        [calendarButtonClassList]="'bg_overlay brdr border_left brad_0'">
      </particle-date-picker>
      <button class="access btn md bg_overlay brdr bg_blue_alt mar_10" (click)="obj4 = {}">Open Child</button>
      <button class="access btn md bg_overlay brdr bg_blue_alt mar_10" (click)="obj3 = null">Close</button>
    </div>
    <!-- SECOND CHILD DIALOG -->
    <particle-dialog title="Child of Child of Parent Dialog" [object]="obj4" (closed)="obj4 = null"
                     width="400px" height="300px">
      <div class="pad_15">
        <div class="form_label mar_bot5">Select the button below to open the popover</div>
        <button class="access btn sm bg_overlay brdr bg_grey_alt" (click)="dialogPopover.toggle($event)">
          Preview Popover
        </button>
        <particle-popover width="500" #dialogPopover>
          <div class="pad_10">
            <div class="mar_bot10">This is some popover content</div>
            <button (click)="dialogPopover.toggle($event)" class="access btn bg_overlay brdr sm mar_5">
              <i class="fas fa-times mar_right5"></i>Close Popover
            </button>
          </div>
        </particle-popover>
      </div>
    </particle-dialog>
  </particle-dialog>
</particle-dialog>

<!-- RIGHT PUSH CONTAINER -->
<particle-push-container
  mainContentId="site-content"
  side="right"
  topOffset="100px"
  [closeOnResize]="true"
  [showSidePanel]="true"
  [width]="250"
  [hideCloseButton]="true"
  #pushContainerRight>
  <div class="menu_color min_h40 pad_10 pad_x15 text md bold v_center">
    <div>Settings</div>
  </div>
  <div class="pad_10">
    <div class="row bottom_left mar_5" style="height:32px;">
      <div class="text md bolder">
        Add basic controls here
      </div>
    </div>
    <div class="bg_overlay brdr hr mar_y15 mar_x5"></div>
    <!-- informational text -->
    <div class="mar_5 mar_y10 pad_bot5">
      <particle-theming></particle-theming>
    </div>
    <div class="center_center mar_5 mar_y10 pad_bot5 pad_top5 brad_3 brdr test">COOL COLOR VARIABLES</div>
  </div>
</particle-push-container>

<!-- NOTIFICATION CONTAINER -->
<particle-notification></particle-notification>



